main {
    min-height: calc(100vh);
    margin-top: 3.3rem;
    background-image: url("/assets/01.jpg");
    background-size: cover;
    transition: background-image 1s linear;
    background-attachment: fixed;
    background-position: center;
    &.communityImage {
        background-image: url("/assets/02.jpg");
    }
}