<div class="container pt-5">
  <div class="card p-4">

    <p>Bitte melde Dich zunächst an (<a routerLink="/signup">Registrieren</a>). Außer Deinem Namen und Deiner Klasse
      musst Du keine personenbezogenen Daten angeben. Diese werden absolut vertraulich behandelt und nach dem Tippspiel
      wieder gelöscht. <b>Bitte notiere Dir Deine angegebenen Zugangsdaten.</b> Bei Verlust dieser Daten müsstest Du Dich neu
      anmelden und würdest so bereits erreichte Punkte verlieren.</p>
    <p>Die Teilnahme an diesem Tippspiel ist natürlich kostenlos.</p>
    <p>Zu gewinnen gibt es die "goldene Ananas", es werden also keine Preise vergeben. Beim Tippspiel geht aber darum, der beste Fußball-Experte des Allgäu-Gymnasiums zu werden.</p>
    <p>Du kannst einen Tipp bis eine Minute vor dem offiziellen Beginn des Spiels abgeben und (vor dem Spiel) so oft
      ändern, wie Du möchtest.</p>
      <div class="alert alert-info">
      <u>Rat</u>: Damit Du nicht einzelne Spieltage versäumst, tippst Du bereits zu Beginn alle Spiele der Vorrunde. Du kannst
      ja nachträglich alle Tipps auch kurzfristig abändern.</div>
    <div>Es gilt die sog. 9-er-Punkteregel:
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Tendenz</th>
              <th>Tordifferenz</th>
              <th>Ergebnis</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sieg</td>
              <td>10</td>
              <td>20</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Unentschieden</td>
              <td>10</td>
              <td>-</td>
              <td>30</td>
            </tr>
          </tbody>
        </table>
      </div>

      Beispiele:
      <ul>
        <li>Ergebnis: <b>2:1</b> - Tipp: <b>1:2</b> -&gt; 0 Punkte (falsche Tendenz)</li>
        <li>Ergebnis: <b>2:1</b> - Tipp: <b>1:1</b> -&gt; 0 Punkte (falsche Tendenz)</li>
        <li>Ergebnis: <b>1:3</b> - Tipp: <b>0:1</b> -&gt; 10 Punkte (richtige Tendenz) </li>
        <li>Ergebnis: <b>2:1</b> - Tipp: <b>1:0</b> -&gt; 20 Punkte (Sieg, Tordifferenz)</li>
        <li>Ergebnis: <b>1:1</b> - Tipp: <b>0:0</b> -&gt; 10 Punkte (Unentschieden, Tendenz)</li>
        <li>Ergebnis: <b>2:2</b> - Tipp: <b>2:2</b> -&gt; 30 Punkte (Unentschieden, Ergebnis)</li>
        <li>Ergebnis: <b>1:2</b> - Tipp: <b>1:2</b> -&gt; 30 Punkte (Sieg, Ergebnis)</li>
      </ul>

    </div>
    <p>
      Zusätzlich gibt es für jedes Spiel noch maximal 10 sog. Experten-Punkte zu gewinnen. Je weiter Dein Tipp vom Tipp des AG-Expertenteams entfernt ist, je klarer Du also gegen das AG-Expertenteam tippst, desto mehr Punkte kannst Du zusätzlich gewinnen.</p>      
    <div class="alert alert-primary"><u>Rat</u>: Vor der Abgabe Deines Tipps informiere Dich, wie das AG-Expertenteam getippt hat und wie viele Experten-Punkte es zu gewinnen gibt.</div>




    <p>Ab dem Achtefinale wird die Entscheidung nötigenfalls im Elfmeterschießen erzwungen.
      Es wird <b>nach Elfmeterschießen</b> getippt.
      Also ein <b>6:5</b> ist ab dem Achtelfinale ein realistisches Ergebnis; dagegen macht es keinen Sinn, ein
      Unentschieden zu tippen.</p>
    <div class=" table-responsive">Um die Spiele ab dem Achtelfinale aufzuwerten, werden die erzielten Punktzahlen - einschließlich der Experten-Punkte - noch
      mit einem Faktor multipliziert:
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Spiel</th>
            <th>Faktor</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Achtelfinale</td>
            <td>1,5</td>
          </tr>
          <tr>
            <td>Viertelfinale</td>
            <td>2,0</td>
          </tr>
          <tr>
            <td>Halbfinale</td>
            <td>2,5</td>
          </tr>
          <tr>
            <td>Spiel um Platz 3</td>
            <td>3,0</td>
          </tr>
          <tr>
            <td>Finale</td>
            <td>4,0</td>
          </tr>

        </tbody>
      </table>
    </div>
    <p>Zusätzlich erhältst Du <b>80 Punkte</b>, wenn Du auf den richtigen <b>Europameister</b> getippt hast.
      Tippschluss für den Europameister-Tipp: <b>{{championDeadline | date: "fullDate"}}, {{championDeadline | date: "mediumTime"}} Uhr</b> (<a routerLink="/champion">Europameister</a>).</p>
    <p>In der <a routerLink="/scores">Bestenliste</a> kannst Du jederzeit nachsehen, wie viele Punkte Du bisher erhalten hast und auf welchem Platz Du momentan stehst.</p>

    <p>Viel Spaß beim Tippen und Mitfiebern!</p>
    <p>Die AG-Multimedia des Allgäu-Gymnasium</p>
    <hr>
    
    <p>
        <b>Technische Realisierung:</b><br>
        Hannes Rüger (Q11)
    </p>
    
    <p>
        <b>Spielleitung:</b><br>
        Andreas Herz, StD
    </p>
  </div>
</div>
