img.crest {
    max-height: 3rem;
    min-width: 3rem;
    box-shadow: 0px 0px 15px 5px rgba(170, 170, 170, 0.6);
}

input.short {
    max-width: 5rem;
}

.score {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
input.score {
    font-size: 1.5rem;
}

img.expert-picture {
    max-height: 5rem;
    border-radius: 1rem;
}