<div class="container">
    <div class="row">
        <div class="col-11 col-md-8 mx-auto card p-3 mt-5 text-center">
            <div class="matches" *ngIf="matches.length > 0 && (teams | keyvalue).length > 0">
                <table class="table">
                    <tbody>
                        <ng-container *ngFor="let match of matches">
                            <ng-container *ngIf="match.homeTeam.id && match.awayTeam.id">
                                <tr class="border-white">
                                    <td><h3>{{match.homeTeam.name}}</h3></td>
                                    <td>
                                        <span class="d-block text-decoration-underline">Spiel {{match.number}}</span>
                                    </td>
                                    <td><h3>{{match.awayTeam.name}}</h3></td>
                                </tr>
                                <tr class="border-white">
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <img [src]="teams[match.homeTeam.id].crestUrl" class="crest">
                                        </div>
                                        <div class="d-flex justify-content-center mt-2">
                                            <span class="score">{{match.finalScore.homeTeam}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="d-block">{{match.utcDate | date: 'shortDate'}}</span>
                                        <span class="d-block">{{match.utcDate | date: 'shortTime'}} Uhr</span>
                                        <u class="d-block mt-3 text-primary">Dein Tipp:</u>
                                        <b class="d-block text-warning">Noch kein Tipp abgegeben!</b>
                                        <b class="d-block text-primary">7:3</b>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <img [src]="teams[match.awayTeam.id].crestUrl" class="crest">
                                        </div>
                                        <div class="d-flex justify-content-center mt-2">
                                            <span class="score">{{match.finalScore.awayTeam}}</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pb-5" colspan="3"><app-match-countdown [match]="match"></app-match-countdown></td> 
                                </tr>
                                </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>