<div class="container">
    <div class="row">
        <div class="col-11 col-md-8 mx-auto card p-3 mt-5 text-center">
            <div class="d-flex my-5 justify-content-center" *ngIf="matches.length == 0"><div class="spinner spinner-border text-primary"></div></div>
                <ng-container *ngIf="matches.length > 0">
                    <div class="alert alert-primary" *ngIf="untippedMatchCount > 0">
                        Du hast für {{untippedMatchCount}} {{untippedMatchCount > 1 ? "ausstehende Spiele" : "ausstehendes Spiel"}} noch keinen Tipp abgegeben!<br>
                        Du kannst deinen Tipp auch noch nachträglich ändern.
                    </div>
                    <div class="matches" *ngIf="(teams | keyvalue).length > 0">
                        <table class="table">
                            <tbody>
                                <ng-container *ngFor="let match of matches">
                                    <ng-container *ngIf="match.homeTeam.id && match.awayTeam.id">
                                        <tr class="border-white">
                                            <td class="crest-col"><h3>{{match.homeTeam.name}}</h3></td>
                                            <td class="content-col">
                                                <span class="d-block text-decoration-underline">Spiel {{match.number}} ({{stageNames[match.stage]}})</span>
                                                <span class="d-block"><b>{{match.utcDate | date: 'shortDate'}}, {{match.utcDate | date: 'shortTime'}} Uhr</b></span>
                                                <span class="d-block">{{match.location}}</span>
                                                <div class="crest-col-mobile">
                                                    <h3><img [src]="teams[match.homeTeam.id].crestUrl" class="crest-small me-2">{{match.homeTeam.name}} <span class="text-muted">vs.</span> {{match.awayTeam.name}}<img [src]="teams[match.awayTeam.id].crestUrl" class="crest-small ms-2"></h3>
                                                </div>
                                            </td>
                                            <td class="crest-col"><h3>{{match.awayTeam.name}}</h3></td>
                                        </tr>
                                        <tr class="border-white">
                                            <td class="crest-col">
                                                <div class="d-flex justify-content-center">
                                                    <img [src]="teams[match.homeTeam.id].crestUrl" class="crest">
                                                </div>
                                                <div class="d-flex justify-content-center mt-2">
                                                    <span class="score">{{match.finalScore.homeTeam}}</span>
                                                </div>
                                            </td>
                                            <td class="content-col">
                                                <ng-container *ngIf="match.myTip.homeTeam === null || match.myTip.awayTeam === null; else showTip">
                                                    <b class="fs-5 d-block text-warning">{{match.status == 'SCHEDULED' ? 'Noch kein' : 'Kein'}} Tipp abgegeben!</b>
                                                    <button class="btn btn-outline-warning mt-3" *ngIf="match.status == 'SCHEDULED'" (click)="openMatchModal(match, matchModal)">Tipp abgeben</button>
                                                </ng-container>
                                                <ng-template #showTip>
                                                    <u class="fs-5 d-block mt-3 text-primary">Dein Tipp:</u>
                                                    <b class="fs-5 d-block text-primary">{{match.myTip.homeTeam}}:{{match.myTip.awayTeam}}</b>
                                                    <button class="btn btn-outline-primary mt-3" *ngIf="match.status == 'SCHEDULED'" (click)="openMatchModal(match, matchModal)">Tipp ändern</button>
                                                    <ng-container *ngIf="match.status == 'FINISHED'" >
                                                        <u class="fs-5 d-block mt-3 text-primary">Deine Punkte:</u>
                                                        <b class="fs-5 d-block text-primary">{{match.myPoints}}</b>
                                                    </ng-container>
                                                </ng-template>
                                            </td>
                                            <td class="crest-col">
                                                <div class="d-flex justify-content-center">
                                                    <img [src]="teams[match.awayTeam.id].crestUrl" class="crest">
                                                </div>
                                                <div class="d-flex justify-content-center mt-2">
                                                    <span class="score">{{match.finalScore.awayTeam}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pb-5" colspan="3">
                                                <app-match-countdown [match]="match" (countdownFinished)="onCountdownFinished(match)"></app-match-countdown>
                                            </td> 
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    
    <ng-template #matchModal let-modal>
        <div class="modal-header d-flex justify-content-between">
            <h4 class="modal-title flex-fill text-center">
                <img [src]="teams[currentMatch.homeTeam.id].crestUrl" class="crest">
                <span class="mx-2">{{currentMatch.homeTeam.name}} vs. {{currentMatch.awayTeam.name}}</span>
                <img [src]="teams[currentMatch.awayTeam.id].crestUrl" class="crest">
            </h4>
            <button type="button" class="btn close" (click)="modal.dismiss('Cross click')">
                <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card p-3 overflow-y-auto mb-4 bg-light">
            <h4>Das Spiel:</h4>
            <table class="table text-center vertical-align-middle">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{currentMatch.homeTeam.name}}</th>
                        <th></th>
                        <th>{{currentMatch.awayTeam.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td><img [src]="teams[currentMatch.homeTeam.id].crestUrl" class="crest"></td>
                        <td>
                            <span class="d-block text-decoration-underline">Spiel {{currentMatch.number}}</span>
                            <span class="d-block"><b>{{currentMatch.utcDate | date: 'shortDate'}}</b></span>
                            <span class="d-block"><b>{{currentMatch.utcDate | date: 'shortTime'}} Uhr</b></span>
                            <span class="d-block">{{currentMatch.location}}</span>
                        </td>
                        <td><img [src]="teams[currentMatch.awayTeam.id].crestUrl" class="crest"></td>
                    </tr>
                    <tr>
                        <td class="border-0">Dein Tipp:</td>
                        <td class="border-0"><input type="number" min="0" max="25" [(ngModel)]="tipHomeTeam" class="score m-auto form-control short" [placeholder]="teams[currentMatch.homeTeam.id].tla"></td>
                        <td class="border-0">:</td>
                        <td class="border-0"><input type="number" min="0" max="25" [(ngModel)]="tipAwayTeam" class="score m-auto form-control short" [placeholder]="teams[currentMatch.awayTeam.id].tla"></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-success" (click)="saveTip()"><i class="fas fa-check"></i> Speichern</button>
            </div>
        </div>
        <div class="card p-3 overflow-y-auto mb-4">
            <h4>AG-Experten-Tipp:</h4>
            <table class="table text-center vertical-align-middle">
                <thead>
                    <tr>
                        <th><img [src]="teams[currentMatch.homeTeam.id].crestUrl" class="crest"></th>
                        <th></th>
                        <th><img [src]="teams[currentMatch.awayTeam.id].crestUrl" class="crest"></th>
                    </tr>
                    <tr class="alert-warning">
                        <th>Sieg</th>
                        <th>Unentschieden</th>
                        <th>Sieg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="alert-warning">
                        <td><span class="score">{{currentMatch.expertOdds.count.homeTeam}}</span></td>
                        <td><span class="score">{{currentMatch.expertOdds.count.draw}}</span></td>
                        <td><span class="score">{{currentMatch.expertOdds.count.awayTeam}}</span></td>
                    </tr>
                    <tr>
                        <td class="pt-3 border-0" colspan="3">Zusätzlich zu den regulären Punkten (siehe Spielregeln) kannst du noch bis zu <b>10 zusätzliche Punkte</b> erhalten, wenn du "gegen" unsere AG-Experten tippst.</td>
                    </tr>
                    <tr>        
                        <td class="pt-2" colspan="3">
                            Falls Du auf
                        </td>
                    </tr>
                    <tr class="alert-primary">
                        <th>Sieg</th>
                        <th>Unentschieden</th>
                        <th>Sieg</th>
                    </tr>
                    <tr>        
                        <td colspan="3">
                            tippst und dein Tipp zutrifft, erhältst du zusätzlich
                        </td>
                    </tr>
                    <tr class="alert-primary">
                        <td>{{currentMatch.expertOdds.points.homeTeam}} Punkte</td>
                        <td>{{currentMatch.expertOdds.points.draw}} Punkte</td>
                        <td>{{currentMatch.expertOdds.points.awayTeam}} Punkte</td>
                    </tr>
                    <tr>        
                        <td class="border-0" colspan="3">
                            auf dein Konto.<br>
                            (Ab dem Achtelfinale werden diese Punkte noch mit dem entsprechenden Faktor vervielfacht.)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card p-3 overflow-y-auto mb-4">
            <h4>Das AG-Expertenteam:</h4>
            <div class="">
                <table class="table text-center vertical-align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><img [src]="teams[currentMatch.homeTeam.id].crestUrl" class="crest m-2"></th>
                            <th><img [src]="teams[currentMatch.awayTeam.id].crestUrl" class="crest m-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expert of experts">
                            <td><img class="expert-picture" [src]="getExpertPictureUrl(expert)"></td>
                            <td>{{expert.realName}}</td>
                            <td><span class="text-muted">aka</span><br><i>{{expert.username}}</i></td>
                            <td>{{expert.expertPosition}}</td>
                            <td>{{expert.expertText}}</td>
                            <td><span class="score">{{currentMatch.expertTips[expert.id]?.homeTeam}}</span></td>
                            <td><span class="score">{{currentMatch.expertTips[expert.id]?.awayTeam}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </ng-template>