<div class="container">
    <div class="row">
        <div class="col-11 col-md-8 mx-auto card p-3 mt-5">
            <div class="text-center mb-3">
                <h3>Bestenliste</h3>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let v of views">
                    <a class="nav-link" [class.active]="currentView.id == v.id" (click)="view(v)" [routerLink]="">{{v.name}}</a>
                </li>
            </ul>
            <div class="alert alert-success my-3" *ngIf="authenticationService.loggedIn && myPlace">
                Du bist auf <b>Platz {{myPlace}}</b> von {{placesCount}} in der Kategorie <i>{{currentView.name}}</i>.
            </div>
            <div class="table-responsive mt-1">
                <table class="table table-striped border-top-0">
                    <thead>
                        <tr>
                            <th class="border-top-0">Platz</th>
                            <th class="border-top-0" *ngIf="currentView.id != 'grades-absolute' && currentView.id != 'grades-relative'">Benutzer</th>
                            <th class="border-top-0">Klasse</th>
                            <th class="border-top-0">Punkte</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.place}}</td>
                            <td *ngIf="currentView.id != 'grades-absolute' && currentView.id != 'grades-relative'">
                                <ng-container *ngIf="user.showRealName">
                                    {{user.realName}} <span class="text-muted">(<i>{{user.username}}</i>)</span>
                                </ng-container>
                                <ng-container *ngIf="!user.showRealName">
                                    <i>{{user.username}}</i>
                                </ng-container>
                            </td>
                            <td>{{user.grade}}</td>
                            <td>{{user.points}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>