<div class="container pt-5 text-center">
    <h1 class="mb-3 display-1 headline">Das AG tippt's!</h1>
    <div class="card p-5 mt-5 text-center">
        <div><h2 class="headline">Die <img class="euro-logo" src="assets/euro_2020_logo.png"> in Europa</h2></div>
        <div class="headline">
            <img class="ag-logo" src="assets/logo.png">
            <h3>Das AG-Tippspiel zur Fußball-EM</h3>
            <h3>11.06.2021 - 11.06.2021</h3>
        </div>

        <ng-container *ngIf="!authenticationService.currentUser">
            <h3 class="mt-3 shadow">Melde Dich kostenlos an und tippe gegen das AG-Expertenteam</h3>
            <div>
                <a routerLink="/login" class="my-2 btn btn-primary d-inline-block btn-lg">Einloggen</a><br>
                <a routerLink="/signup" class="my-2 btn btn-success d-inline-block btn-lg">Heute noch anmelden</a>
            </div>
            <small class="mt-5 shadow">Das rein nicht-kommerzielle Tippspiel zur Fußball-Europameisterschaft des Allgäu-Gymnasiums Kempten</small>
        </ng-container>

        <ng-container *ngIf="authenticationService.currentUser">
            <h3 class="mt-3 shadow">Wilkommen, {{authenticationService.currentUser.username}}</h3>
            <div>
                <a routerLink="/login" class="my-2 btn btn-success d-inline-block btn-lg">Spielplan</a><br>
                <a routerLink="/signup" class="my-2 btn btn-primary d-inline-block btn-lg">Zum Europameister-Tipp</a>
            </div>
        </ng-container>

    </div>
</div>